{% extends 'base.html.twig' %}

{% block title 'Warehouse Management System' %}


{% block body %}

	<div class="">
		<h1 class="text-center">Inventories</h1>
		<a
			class="btn btn-success" style="float:right;" href="{{ path('app_inventory_create') }}">
			{# <i class="fas fa-pencil-alt mt-0"></i> #}
			New Inventory
		</a>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Inventory Reference</th>
				<th scope="col">Inventory Date</th>
				<th scope="col">User</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for p in inventorys %}
				<tr>
					<th scope="row">{{ inventorys[loop.index0].id }}</th>
					<td>{{ inventorys[loop.index0].reference }}</td>
					<td>{{ inventorys[loop.index0].date|date('Y-m-d') }}</td>
					<td>{{ inventorys[loop.index0].user }}</td>
					<td>
						<a class="btn btn-primary" href="{{ path('app_inventory_edit',{id: inventorys[loop.index0].id}) }}">Edit</a>
						{# <a class="btn btn-danger" href="{{ path('app_inventory_delete',{id: inventorys[loop.index0].id}) }}">Delete</a> #}
						<a class="btn btn-danger" href="#" onclick="event.preventDefault(); confirm('Are you sure?') && document.getElementById('js-inventory-delete-form').submit(); " class="btn btn-light">Delete</a>
						<form id="js-inventory-delete-form" action="{{ path('app_inventory_delete',{id: inventorys[loop.index0].id}) }}" method="post" style="display:none;">
							<input type="hidden" name="csrf_token" value="{{ csrf_token('inventory_deletion'~ inventorys[loop.index0].id) }}">
							<input type="hidden" name="_method" value="DELETE">
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>{% endblock %}
