<div class="container">
	<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		<a href="{{ path('app_dashboard')}}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
			<span class="fs-4">Warehouse Management System</span>
		</a>

		<ul class="nav nav-pills">
			{% if app.user %}
				{# <li class="nav-item">
													<a href="{{ path('app_dashboard')}}" class="nav-link link-dark">Home</a>
												</li> #}
				<li class="nav-item">
					<a href="{{ path('app_profile')}}" class="nav-link link-dark">Profile</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_logout')}}" class="nav-link link-dark">Logout</a>
				</li>
			{% else %}
				{# <li class="nav-item">
									<a href="{{ path('app_register')}}" class="nav-link">Register</a>
								</li> #}
				<li class="nav-item">
					<a href="{{ path('app_login')}}" class="nav-link">Login</a>
				</li>
			{% endif %}
		</ul>
	</header>
</div>
