{% extends 'base.html.twig' %}

{% block title 'Warehouse Management System' %}


{% block body %}

	<div class="">
		<h1 class="text-center">Suppliers</h1>
		<a
			class="btn btn-success" style="float:right;" href="{{ path('app_supplier_create') }}">
			{# <i class="fas fa-pencil-alt mt-0"></i> #}
			New Supplier
		</a>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Full Name</th>
				<th scope="col">Adress</th>
				<th scope="col">Phone Number</th>
				<th scope="col">Email</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for c in suppliers %}
				<tr>
					<th scope="row">{{ suppliers[loop.index0].id }}</th>
					<td>{{ suppliers[loop.index0].name }}</td>
					<td>{{ suppliers[loop.index0].adress }}</td>
					<td>{{ suppliers[loop.index0].phone }}</td>
					<td>{{ suppliers[loop.index0].email }}</td>
					<td>
						<a class="btn btn-primary" href="{{ path('app_supplier_edit',{id: suppliers[loop.index0].id}) }}">Edit</a>
						{# <a class="btn btn-danger" href="{{ path('app_supplier_delete',{id: suppliers[loop.index0].id}) }}">Delete</a> #}
						<a class="btn btn-danger" href="#" onclick="event.preventDefault(); confirm('Are you sure?') && document.getElementById('js-supplier-delete-form').submit(); " class="btn btn-light">Delete</a>
						<form id="js-supplier-delete-form" action="{{ path('app_supplier_delete',{id: suppliers[loop.index0].id}) }}" method="post" style="display:none;">
							<input type="hidden" name="csrf_token" value="{{ csrf_token('supplier_deletion'~ suppliers[loop.index0].id) }}">
							<input type="hidden" name="_method" value="DELETE">
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>{% endblock %}
