{% extends 'base.html.twig' %}

{% block title 'Warehouse Management System' %}


{% block body %}

	<div class="">
		<h1 class="text-center">Stockages</h1>
		<a
			class="btn btn-success" style="float:right;" href="{{ path('app_stockage_create') }}">
			{# <i class="fas fa-pencil-alt mt-0"></i> #}
			New Stockage
		</a>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Reference</th>
				<th scope="col">Receival</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for c in stockages %}
				<tr>
					<th scope="row">{{ stockages[loop.index0].id }}</th>
					<td>{{ stockages[loop.index0].reference }}</td>
					<td>{{ stockages[loop.index0].receival }}</td>
					<td>
						<a class="btn btn-primary" href="{{ path('app_stockage_edit',{id: stockages[loop.index0].id}) }}">Edit</a>
						{# <a class="btn btn-danger" href="{{ path('app_stockage_delete',{id: stockages[loop.index0].id}) }}">Delete</a> #}
						<a class="btn btn-danger" href="#" onclick="event.preventDefault(); confirm('Are you sure?') && document.getElementById('js-stockage-delete-form').submit(); " class="btn btn-light">Delete</a>
						<form id="js-stockage-delete-form" action="{{ path('app_stockage_delete',{id: stockages[loop.index0].id}) }}" method="post" style="display:none;">
							<input type="hidden" name="csrf_token" value="{{ csrf_token('stockage_deletion'~ stockages[loop.index0].id) }}">
							<input type="hidden" name="_method" value="DELETE">
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>{% endblock %}
