{% extends 'base.html.twig' %}

{% block title 'Warehouse Management System' %}


{% block body %}

	<div class="">
		<h1 class="text-center">Vehicles</h1>
		<a
			class="btn btn-success" style="float:right;" href="{{ path('app_vehicle_create') }}">
			{# <i class="fas fa-pencil-alt mt-0"></i> #}
			New Vehicle
		</a>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Reference</th>
				<th scope="col">Matricule</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for c in vehicles %}
				<tr>
					<th scope="row">{{ vehicles[loop.index0].id }}</th>
					<td>{{ vehicles[loop.index0].reference }}</td>
					<td>{{ vehicles[loop.index0].matricule }}</td>
					<td>
						<a class="btn btn-primary" href="{{ path('app_vehicle_edit',{id: vehicles[loop.index0].id}) }}">Edit</a>
						{# <a class="btn btn-danger" href="{{ path('app_vehicle_delete',{id: vehicles[loop.index0].id}) }}">Delete</a> #}
						<a class="btn btn-danger" href="#" onclick="event.preventDefault(); confirm('Are you sure?') && document.getElementById('js-vehicle-delete-form').submit(); " class="btn btn-light">Delete</a>
						<form id="js-vehicle-delete-form" action="{{ path('app_vehicle_delete',{id: vehicles[loop.index0].id}) }}" method="post" style="display:none;">
							<input type="hidden" name="csrf_token" value="{{ csrf_token('vehicle_deletion'~ vehicles[loop.index0].id) }}">
							<input type="hidden" name="_method" value="DELETE">
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>{% endblock %}
