{% extends 'base.html.twig' %}

{% block title vehicle.reference %}


{% block body %}
	<div class="row">
		<div class="col mx-auto">
			<article>

				<article class="bg-white rounded shadow post">

					<h2 class="h5 ps-5 pt-3 text-secondary text-muted">{{ vehicle.reference }}</h2>
					<h3 class="h6 ps-5 pt-3 text-secondary text-muted">{{ vehicle.matricule }}</h3>
				</div>
				<div class="ps-3 pb-3">
					<a href="{{ path('app_vehicle_edit',{id: vehicle.id}) }}" class="btn btn-light">Edit</a>
					<a href="#" onclick="event.preventDefault(); confirm('Are you sure?') && document.getElementById('js-vehicle-delete-form').submit(); " class="btn btn-light">Delete</a>
				</div>
			</article>
		</div>
	</div>


	<form id="js-vehicle-delete-form" action="{{ path('app_vehicle_delete',{id: vehicle.id}) }}" method="post" style="display:none;">
		<input type="hidden" name="csrf_token" value="{{ csrf_token('vehicle_deletion'~ vehicle.id) }}">
		<input type="hidden" name="_method" value="DELETE">
	</form>
{% endblock %}
